@font-face {
    font-family: 'rosellindaCallistaCustomFont';
    src: url('../fonts/Rosellinda\ Alyamore\ 1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
 
 
  @font-face {
    font-family: 'CallistaCustomFont';
    src: url('../fonts/Callista.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'DestineCustomFont';
    src: url('../fonts/Destine.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cocogoose Pro Bold';
    src: url('../fonts/Cocogoose-Pro-Bold-trial.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Winter Prime';
    src: url('../fonts/Winter Prime.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Charlotte';
    src: url('../fonts/Charlotte.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Chillen';
    src: url('../fonts/Chillen.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

   @font-face {
    font-family: 'Conquer';
    src: url('../fonts/Conquer.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'digital';
    src: url('../fonts/digital.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'CinzelDecorative';
    src: url('../fonts/CinzelDecorative-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'TimesNewNormal';
    src: url('../fonts/Times\ New\ Normal\ Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'proximaNova-regular';
    src: url('../fonts/proximanova_regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PantonDemo-Black';
    src: url('../fonts/PantonDemo-Black.otf') format('trutype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'proximaNovaBold';
    src: url('../fonts/proximanova_bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'proximaNova-extrabold';
    src: url('../fonts/proximanova_extrabold.otf') format('opentype');
    /* font-weight: normal;
    font-style: normal; */
  }

  @font-face {
    font-family: 'proximaNova-light';
    src: url('../fonts/proximanova_light.otf') format('opentype');
    /* font-weight: normal;
    font-style: normal; */
  }

  @font-face {
    font-family: 'proximaNova-bold-italic';
    src: url('../fonts/proximanova_blackit.otf') format('opentype');
    /* font-weight: normal;
    font-style: normal; */
  }

  @font-face {
    font-family: 'proximaNovaItalic';
    src: url('../fonts/proximanova_boldit.otf') format('opentype');
    /* font-weight: normal;
    font-style: normal; */
  }
  
  